#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app > h1{
    color: #996dff;
}

#app > h2 {
    align-self: flex-start;
    margin-top: 64px;
}

#app > p {
    align-self: flex-start;
    text-align: justify;
    width: 40vw;
    margin-top: -5px;
    margin-left: 6px;
}

@media (max-width: 767px) {
    #app > p {
        width: 80vw;
    }
  }

#app .placeholder{
    color: #7c7c8a;
    user-select: none;
}